{cover_enabled, true}.

{erl_opts, [
	{parse_transform, lager_transform}
]}.

{sub_dirs, ["rel", "src/entity", "src/logic", "src/manager", "src/network","src/protocol"]}.

{deps,
	[
		{lager, ".", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
		{jiffy, ".", {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}}
	]
}.
